

<h1> Welcome to home page </h1>

<div id="inputform" class="formdiv {{email}}">
Name : {{input type=textbox value=name}} <br/><br/>

email : {{input type=textbox value=email}}{{errormessage}} <br/><br/>

phone : {{input type=textbox value=phone}} <br/><br/>



    <input type=button value="submit" {{action 'gototestpage'}}> 

    you have to enter atleast a name



</div>


{{#each content as |item|}}
        {{item.avatar_url}} <br/>
{{/each}}







 