


    <div>


{{partial 'names'}}

  <div class="form-group">
    <label for="Phone">Phone Number</label>
    {{input type="text" class="form-control" id="phone"
    placeholder="Phone Number"}}
  </div>

  <div class="form-group">
     {{select-component dropdowntype="test" listitem=testlist selecteditem=selectedtest}}
  </div>
 
  <button type="submit" class="btn btn-default" {{action 'sayhello' "umashankar"}}>Submit</button>
    </div>


<!-- demo for hadlebar each
{{#each content as |item|}}
        {{item.avatar_url}} <br/>
{{/each}}


-->




 